{
  "presets": [
    [
      "@babel/typescript",
      {
        "allExtensions": true,
        "isTSX": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "emotion",
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel"
  ],
  "ignore": [
    "./scripts/codegen/recursiveGenerateExportFile/__test__"
  ]
}